*{
	margin: 0px;
	padding: 0px;
	font-family: 'segoe UI';
	
}
#header{
    position: relative;
	top: 10px;
	left: 0%;
	width: 100%;
	height: 104px;
	background: #FFFFFF;
	z-index: 10;
	border: 10px;
}
.navbar{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.logo{
	width: 100px;
	height: 100px;
	left: -80%;
	text-align: center;
	padding-left: 75px;
	cursor: pointer;
}
.logo:hover{
	transform: scale(1.2);
}
#menu{
	padding: 10px;
	width: 500px;
	height: 35px;
	text-align: center;
	color: black;
	transition: all 400ms;
	background: black;
	font-family: 'segoe UI';
	cursor: pointer;
	border-radius: 20px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}
#menu div{
	color: black;
	width: 100px;
	height: 30px;
	float: left;
}
#menu div:hover{
	transform: scale(1.1);
}
#menu a{
	color:white;
	text-decoration: none;
    font-size: 18px;
}
#menu a:hover{ color: white; text-decoration: underline;}
.login{
	display: inline-flex;
	padding: 10px;
    background: skyblue;
    width: 130px;
    height: 30px;
    cursor: pointer;
    transition: all 400ms;
    border-radius: 20px;
	background: linear-gradient(to right,#20B2AA 0%, #00FA9A 100%);
	margin-top: 20px;
}
.login a{
	color: white;
	font-size: 17px;
	text-decoration: none;
}
.login:hover{
	transform: scale(1.2);
	transition: all 400ms;
}
#welcome{
	width: 100%;
	height: 240px;
	background: #0065b3;
	font-family: 'segoe UI';
	color: white;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
}
#welcome .caja{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.buho-gif { width: 70px; height: 80px;  }
.title h1 { font-size: 18px; padding-top: 20px;}
.title h2 {	font-size: 40px; }
.title h3 { font-size: 18px; }
#Niveles{	
	width: 80%; height: 430px;
	text-align: center;
	font-family: 'segoe UI';
    font-size: 30px;
    cursor: pointer;
    display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	margin-left: 10%;
	margin-top: 2%;
}  
#Niveles .fondo{
	position: absolute;
   width: 100%;
}
#Niveles .Niv-Basico{
	width: 400px;
	height: 400px;
	background: linear-gradient(to top, #0000FF 0%, #00CED1 100%);
	border-radius: 30px;
	float: left;
	justify-content: flex-start;
	position: relative;
}
#Niveles .Niv-Basico img{
	padding-top: 30px;
	padding-left: 10px;
}
#Niveles .Niv-Basico:hover{transform:scale(1.05); transition:500ms; }
#Niveles .Niv-Intermedio{
	width: 400px;
	height: 400px;
	background: linear-gradient(to top,	#FFFF00 0%,	#00FF00 100%);
	border-radius: 30px;
	float: left;
	position: relative;
}
#Niveles .Niv-Intermedio img{
	padding-top: 30px;
	padding-left: 10px;
}
#Niveles .Niv-Intermedio:hover{ transform:scale(1.05); transition: 500ms; }
#Niveles .Niv-Avanzado{
	width: 400px;
	height: 400px;
	background: linear-gradient(to top, #f0a720 0%, #dd6cec 100%);
	border-radius: 30px;
	float: left;
	position: relative;
}
#Niveles .Niv-Avanzado img{
	padding-top: 45px;
}
#Niveles .Niv-Avanzado:hover{ transform:scale(1.05); transition: 500ms; }
#Niveles a{ color: white; text-decoration: none; position: relative; font-size: 20px;}
#auspicio{
    width: 100%;
	height: 280px;
	background: #0065b3;
	font-family: 'segoe UI';
	color: white;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;   
	flex-direction: column;
	align-items: center;
}
***************************************************************
/*.carrusel {
	height: 100vh;
	display: flex;
	align-items: center;
  }
  .carrusel-items {
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 30px 0px;
  }
  .carrusel-item {
	min-width: 300px;
	max-width: 300px;
	height: 200px;
	margin-left: 10px;
	cursor: pointer;
  }
  .carrusel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  } */
**************************************************************
.centro{
	margin-top: 20px;
	width: 1000px;
	height: 150px;
	display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}
#auspicio .unjfsc .spinout .innova .SM1551{
	width: 160px;
	height:160px;
}
#auspicio .def{
	width: 1000px;
	height: 50px;
	display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: 'segoe UI';

}
.def p{ text-align: center; }
