*{
	margin: 0px;
	padding: 0px;
	font-family: 'segoe UI';
}
#header{
	width: 100%;
	height: 90px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	background: #0065b3;
}
#header .boxhead{
	width: 60%;
	height: 90px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
}
#header .title{
	margin-top: 7px;
	margin-left: 20px;
	color: white;
}
.Box-center{
    width:60%;
    height: 80%;
    border:1px solid blue;
    background-color: rgb(255, 255, 255);
    margin-left:20%;
}
.bot-img {
    margin-top: 40px;
    margin-left: 36%;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;

}
    .bot-img :hover {
        transform: scale(1.25);
        transition: 500ms;
    }
#Niveles{	
	width: 80%; height: 430px;
	text-align: center;
	font-family: 'segoe UI';
    font-size: 30px;
    cursor: pointer;
    display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	margin-left: 10%;
	margin-top: 2%;
}  
#Niveles .fondo{
	position: absolute;
   width: 100%;
}
#Niveles .Niv-Basico{
	width: 180px;
	height: 60px;
	background: linear-gradient(to top, #0000FF 0%, #00CED1 100%);
	border-radius: 30px;
	float: left;
	justify-content: flex-start;
	position: relative;
}
#Niveles .Niv-Basico:hover{transform:scale(1.05); transition:500ms; }
#Niveles .Niv-Intermedio{
	width: 180px;
	height: 60px;
	background: linear-gradient(to top,	#FFFF00 0%,	#05e005 100%);
	border-radius: 30px;
	float: left;
	position: relative;
}
#Niveles .Niv-Intermedio:hover{ transform:scale(1.05); transition: 500ms; }
#Niveles .Niv-Avanzado{
    width: 180px;
	height: 60px;
	background: linear-gradient(to top, #f0a720 0%, #bf12d6 100%);
	border-radius: 30px;
	float: left;
	position: relative;
}
#Niveles .Niv-Avanzado:hover{ transform:scale(1.05); transition: 500ms; }
#Niveles a{ color: white; text-decoration: none; position: relative; font-size: 20px;}