################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ITCyan/Cyan.Utils/obj
/ITCyan/Cyan.Infraestructure/obj
/ITCyan/CyanSureBetPlatform/obj
*.suo
/ITCyan/Cyan.Application/obj
/ITCyan/Cyan.Domain/obj
/ITCyan/.vs/ITCyan/FileContentIndex
*.v2
*.bin
