@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Bienvenido a  IS Sure Bets </h1>
    <h1 class="display-4">Inicia tu camino al Exito!</h1>
    <h2>Description</h2>

</div>

<div class="BetList">

</div>
