@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Bienvenido a  IS Sure Bets </h1>
    <h1 class="display-4">Inicia tu camino al Exito!</h1>
    <br />
</div>

<div class="text-center Desc">
    <h2 class="description">
        Las surebets o apuestas seguras es una herramienta que ofrece Innovation Services a    <br />
        sus usuarios y que te permitirá ver una serie de eventos en los que el usuario ganará  <br />
        siempre, sin importar lo que apueste.
        En nuestra herramienta, te ofrecemos los eventos en vivo, las casas en las que debes   <br />
        apostar y el beneficio que podrás conseguir. Además, haciendo click en la ganancia, te <br />
        mostraremos cuánto tienes que apostar en cada operador para llevarte tu ganancia       <br />
        asegurada. Siempre ganarás, así que no hay riesgo ninguno.
    </h2>
</div>
<div class="BetList">

</div>
