@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to Sure Bets Platform !</h1>
    <h2>Description</h2>


   
   
</div>

<div class="BetList">

</div>
