@model Persona
@{
    ViewData["Title"] = "Briefcase - Narvasta";
}


    <head>
        <title>Narvasta Pichilingue Sergio</title>
        <link href="css/index.css" rel="stylesheet" type="text/css">
    </head>
    
        <!------ HEADER ------->
        <div id="header">
            <!------ BARRA NAV ------->
            <div class="navbar">
                <!------ LOGO ------->
                <div class="logo">
                    <img class="Logo" src="img/logo.png" width="100" height="100" alt="Cultivando la Lectura">
                </div>
                <!------ MENU ------->
                <div id="menu">
                    <div class="Inicio"> <a href="index.html">Home</a></div>
                    <div class="Nosotros"><a href="nosotros.html">Presentacion</a></div>
                    <div class="Noticias"><a href="noticias.html">Proyectos</a></div>
                    <div class="Contacto"><a href="contacto.html">Contacto</a></div>
                </div>
                
            <!------ WELCOME ------->
            <div id="welcome">
                <div class="caja">
                    <div class="title">
                        <h1>BIENVENIDO </h1>
                        <h2>Ten el agrado de calificar el trabajo desarrollado te lo agradece;</h2>
                        <h3> Narvasta Pichilingue Sergio. </h3>
                    </div>
                    <div class="text">
                        <p>Desarollador Backend especializado en ASP.Net Core, SQL Server</p>
                        <p>Gestor de  proyectos con metodologias agiles (Scrum, Kanban)</p>
                        <p>Contenerizando aplicaciones con Docker </p>
                        <strong>Desaplegando proyectos web con Azure</strong>
                    </div>
                </div>
            </div>
            <!-- NIVELES -->
            <div id="Estructra de Sistema">
                <p>Estructra de Sistema</p>
                <div class="BD">
                    <a href="niv-basico.html">
                        <p>Backend</p> <p>ASP.Net Core</p>
                        <img src="img/alumno1.gif">
                    </a>
                </div>
                <div class="Frontend">
                    <a href="niv-intermedio.html">
                        <p>Frontend </p><p>Angular, Bootstrap</p>
                        <img src="img/alumno2.gif">
                    </a>
                </div>
                <div class="Niv-Avanzado">
                    <a href="niv-avanzado.html">
                        <p>Base de Datos </p> <p>SQL Server, Azure SQL</p>
                        <img src="img/alumno4.gif">
                    </a>
                </div>
            </div>
            <div id="auspicio">
                <div class="centro">
                    <div class="unjfsc"><a href="http://www.unjfsc.edu.pe/" target="_blank"><img src="img/unjfsc.jpg" width="140" height="140"></a></div>
                    <div class="spinout"><a href="https://www.facebook.com/SpinOutUNJFSC/" target="_blank"><img src="img/SpinOut.jpg" width="140" height="140"></a></div>
                    <div class="innova"> <a href=""><img src="img/Innova.png" width="140" height="140"></a></div>
                    <div class="SM1551"><a href="http://www.1551.pe/" target="_blank"><img src="img/1551.png" width="140" height="140"></a></div>
                </div>
                <div class="def">
                    <div class="df1"><p>Formative 2019</p> <p>Plataforma web que incentiva a los niños de 6 a 11 años </p> <p>Sanchez Carrion</p></div>
                    <div class="df2"><p>Auspicio Principal</p></div>
                    <div class="df3"><p>Programa</p> <p>Auspicio Principal</p></div>
                    <div class="df4"><p>Auspicio Principal</p><p>Empresas Innovadoras</p><p>UNMSM</p></div>
                </div>
            </div>
            <div id="footer-page">
                <div class="ft-1"><img src="img/logo.png" width="110" height="110"><p>MyProfile © 2022 </p> <p>Todos los derechos reservados.</p> </div>
                <div class="ft-2">
                    <a href="">Inicio</a>
                    <a href="nosotros.html">Descripcion</a>
                    <a href="noticias.html">My Projects</a>
                    <a href="">Diplomas</a>
                    <a href=""></a>
                </div>
                <div class="ft-3">
                    <a href="Politica-de-Privacidad.html">Enlace Principal</a>
                    <a href="Terminos&Condiciones.html">Enlace Principal</a>
                    <a href="Politica-de-Cookies.html">Enlace Principal</a>
                    <a href="">Acuerdo de Licencia Enlace Principal</a>
                    <a href="">Notificacion de derechos de autor Enlace Principal</a>

                </div>
                <div class="ft-4">
                    <p> REDES SOCIALES</p>
                    <a href="">Telegram</a>
                    <a href="">Gmail</a>
                    <a href="">Twitter</a>
                    <a href="">Linkedln</a>
                </div>
            </div>
            <div id="enlace">
                Developed by ISN Technologies 2021
            </div>
        </div>

