@model Persona
@{
    ViewData["Title"] = "Briefcase - Narvasta";
}

<div class="text-center">
    <h1 class="display-4">@Model.Apellido @Model.Nombre</h1>
    <h2></h2>
    <p> Desarrollador Backend especializado en tecnologias .NET, SQL SERVER.</p>
    <div class="row justify-content-center" id="Img"> </div>
</div>
