@model Persona
@{
    ViewData["Title"] = "Briefcase - Narvasta";
}

<div class="text-center">
    <h1 class="display-4">Narvasta Pichilingue Sergio Alan Jesus</h1>
    <h2></h2>
    <p> Desarrollador Backend especializado en tecnologias .NET, SQL SERVER.</p>
    <div class=" justify-content-center text-center" id="Img"> </div>
    <div class="justify-content-center text-center bg-primary bienv"  >
        <div class=" col col-md-7">
            <p>Bienvenido a mi portafolio</p>
        </div>
     </div>
</div>
