@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Narvasta Pichilingue Sergio Alan Jesus</h1>
    <h2></h2>
    <p> Desarrollador Backend especializado en tecnologias .NET, SQL SERVER.</p>
    <div class="Img">Imagen</div>
</div>
