html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#Img{
    width : 150px;
    height : 150px;
    border : 2px solid blue;
    background-color:skyblue;
}
.bienv{
    margin-top:10px ;
}
#header {
    position: relative;
    top: 10px;
    left: 0%;
    width: 100%;
    height: 104px;
    background: #FFFFFF;
    z-index: 10;
    border: 10px;
}

.navbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
    left: -80%;
    text-align: center;
    padding-left: 75px;
    cursor: pointer;
}

    .logo:hover {
        transform: scale(1.5);
    }

#menu {
    padding: 10px;
    width: 400px;
    height: 35px;
    text-align: center;
    color: black;
    transition: all 400ms;
    background: black;
    font-family: 'segoe UI';
    cursor: pointer;
    border-radius: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

    #menu div {
        color: black;
        width: 100px;
        height: 30px;
        float: left;
    }

        #menu div:hover {
            transform: scale(1.1);
        }

    #menu a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

        #menu a:hover {
            color: white;
            text-decoration: underline;
        }

#welcome {
    width: 100%;
    height: 240px;
    background: #0065b3;
    font-family: 'segoe UI';
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

    #welcome .caja {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

.buho-gif {
    width: 70px;
    height: 80px;
}

.title h1 {
    font-size: 18px;
    padding-top: 20px;
}

.title h2 {
    font-size: 40px;
}

.title h3 {
    font-size: 18px;
}

#Niveles {
    width: 80%;
    height: 430px;
    text-align: center;
    font-family: 'segoe UI';
    font-size: 30px;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-top: 2%;
}

    #Niveles .fondo {
        position: absolute;
        width: 100%;
    }

    #Niveles .Niv-Basico {
        width: 270px;
        height: 400px;
        background: linear-gradient(to top, #0000FF 0%, #00CED1 100%);
        border-radius: 30px;
        float: left;
        justify-content: flex-start;
        position: relative;
    }

        #Niveles .Niv-Basico img {
            padding-top: 30px;
            padding-left: 15px;
        }

        #Niveles .Niv-Basico:hover {
            transform: scale(1.05);
            transition: 500ms;
        }

    #Niveles .Niv-Intermedio {
        width: 260px;
        height: 400px;
        background: linear-gradient(to top, #FFFF00 0%, #00FF00 100%);
        border-radius: 30px;
        float: left;
        position: relative;
    }

        #Niveles .Niv-Intermedio img {
            width: 200px;
            height: 150px;
            padding-top: 65px;
        }

        #Niveles .Niv-Intermedio:hover {
            transform: scale(1.05);
            transition: 500ms;
        }

    #Niveles .Niv-Avanzado {
        width: 270px;
        height: 400px;
        background: linear-gradient(to top, #DA70D6 0%, #800080 100%);
        border-radius: 30px;
        float: left;
        position: relative;
    }

        #Niveles .Niv-Avanzado img {
            width: 150px;
            height: 200px;
            padding-top: 45px;
        }

        #Niveles .Niv-Avanzado:hover {
            transform: scale(1.05);
            transition: 500ms;
        }

    #Niveles a {
        color: white;
        text-decoration: none;
        position: relative;
    }

#auspicio {
    width: 100%;
    height: 280px;
    background: #0065b3;
    font-family: 'segoe UI';
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centro {
    margin-top: 20px;
    width: 1000px;
    height: 150px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
}

#auspicio .unjfsc .spinout .innova .SM1551 {
    width: 160px;
    height: 160px;
}

#auspicio .def {
    width: 1000px;
    height: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'segoe UI';
}

.def p {
    text-align: center;
}

#footer-page {
    width: 100%;
    height: 300px;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #1d262d;
    justify-content: space-around;
    font-family: 'segoe UI';
}

    #footer-page .ft-1 {
        width: 20%;
        height: 150px;
        margin-top: 25px;
        cursor: pointer;
    }

.ft-1 p {
    color: #869fb2;
    font-size: 15px;
}

.ft-1 img:hover {
    transform: scale(1.1);
    transition: 300ms;
}

#footer-page .ft-2 {
    width: 20%;
    height: 180px;
    margin-top: 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.ft-2 a {
    color: #869fb2;
    font-size: 18px;
    text-decoration: none;
}

    .ft-2 a:hover {
        color: white;
        transform: scale(1.05);
    }

#footer-page .ft-3 {
    width: 20%;
    height: 200px;
    margin-top: 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.ft-3 a {
    color: #869fb2;
    font-size: 18px;
    text-decoration: none;
}

    .ft-3 a:hover {
        color: white;
        transform: scale(1.05);
    }

#footer-page .ft-4 {
    width: 20%;
    height: 100px;
    margin-top: 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.ft-4 p {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.ft-4 a {
    color: #869fb2;
    font-size: 18px;
    text-decoration: none;
}

    .ft-4 a:hover {
        color: white;
        transform: scale(1.05);
    }

#enlace {
    width: 100%;
    height: 50px;
    background: gray;
    color: white;
    font-size: 18px;
    text-align: center;
}

.LinkISN {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

    .LinkISN:hover {
        color: black;
        transform: scale(1.25);
    }