<?xml version="1.0"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />

      <sessionState timeout="60"></sessionState>
      <httpRuntime maxRequestLength="1048576" executionTimeout="60000"/>
      <customErrors mode="Off"/>
      <globalization culture="es-PE" uiCulture="es-PE"/>
      
    </system.web>

  <appSettings>
    <!--Variables para la aplicación-->
    <add key="strServidorBD" value="HDNBLIM01"/>
    <add key="strBaseDatos" value="Lavalin"/>
    <add key="strUsuarioBD" value="osis"/>
    <add key="strPaswordBD" value="rriosis"/>
    <add key="strProviderBD" value="SQLSERVER"/>

  </appSettings>

  <system.webServer>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>


</configuration>
