@{
    ViewData["Title"] = "Home Page";
}

<div class="Welcome">
    <div>
       <br />
       <br />
   
       <h1 >Bienvenido a  IS SureBet </h1>
       <h1 >Inicia tu camino al Exito!</h1>
       <a class="btn btn-primary" asp-area="" asp-controller="BetData" asp-action="BetList">Get Started</a>
       <br />
       <p>
         En nuestra Plataforma, te ofrecemos los eventos en vivo, las casas en las que debes   <br />
         apostar y el beneficio que podrás conseguir. Además, haciendo click en la ganancia, te <br />
         mostraremos cuánto tienes que apostar en cada operador para llevarte tu ganancia       <br />
         asegurada. 
         Siempre ganarás, así que no hay riesgo ninguno.</p>
    </div>
 
</div>
<br />


