<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <sessionState timeout="60"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="60000"/>
    <customErrors mode="Off"/>
    <globalization culture="es-PE" uiCulture="es-PE"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <!--Variables para la aplicación-->
    <add key="strServidorBD" value="HDVMSQLDES"/>
    <add key="strBaseDatos" value="Lavalin"/>
    <add key="strUsuarioBD" value="osis"/>
    <add key="strPaswordBD" value="rriosis"/>
    <add key="strProviderBD" value="SQLSERVER"/>
  </appSettings>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>
</configuration>